body {
    padding: 0 120px 90px;
    box-sizing: border-box;
    background-color: #C9C9C9;
    color: #000000;
}

header {
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

main {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.header__menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__list-item {
    display: list-item;
    margin-right: 15px;
    white-space: nowrap;
}

.nav__link {
    text-decoration: none;
}

.article__title {
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.chapter {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;
    vertical-align: super;
}

.link {
    color: #000000;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-gray {
    background: gray;
}